doc/documents/import_prive/schema_Import_3.1.xsd

<?xml version="1.0" encoding="iso-8859-15"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>schéma XML du bloc élèves pour les imports du privé
		</xs:documentation>
	</xs:annotation>

	<xs:annotation>
		<xs:documentation>CATEL Orléans</xs:documentation>
	</xs:annotation>

	<xs:annotation>
		<!-- 3.1: Dans les éléments "LEGAL" et "PERSONNE_EN_CHARGE", Renommage du "FINANCIER"  en "PAIE_FRAIS_SCOLAIRES" et
		 ajout de "A_CONTACTER_EN_PRIORITE" pour définir les responsables à contacter en priorité -->
		<xs:documentation>Version 3.1 - 24/07/2018</xs:documentation>
	</xs:annotation>

	<!-- Contenu de la balise racine -->
	<xs:element name="IMPORT_ELEVES">
		<xs:complexType>
			<xs:sequence>
				<!-- Informations sur contenu fichier -->
				<xs:element ref="PARAMETRES" />
				<!-- Données du fichier -->
				<xs:element ref="DONNEES" />
			</xs:sequence>
			<!-- Version du schéma -->
			<xs:attribute use="required" ref="VERSION" />
		</xs:complexType>
	</xs:element>

	<!-- Contenu de la balise PARAMETRES On y retrouve les informations générales 
		de l'imports (établissement, date...) -->
	<xs:element name="PARAMETRES">
		<xs:complexType>
			<xs:sequence>
				<!-- code RNE établissement UAJ -->
				<xs:element name="UAJ" type="rne" />
				<!-- Année scolaire sous forme d'un entier -->
				<xs:element name="ANNEE_SCOLAIRE" type="annee" />
				<!-- date de l'import au format jj/mm/aaaa -->
				<xs:element name="DATE_IMPORT" type="dateFr" />
				<!-- Numéro de l'envoi du logiciel privé -->
				<xs:element name="NUM_ENVOI" type="entier5" />
				<!-- Nom du logiciel privé qui envoi les informations -->
				<xs:element name="LOGICIEL" type="code10" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!-- Contenu du bloc DONNEES: contient les éléments à importer -->
	<xs:element name="DONNEES">
		<xs:complexType>
			<xs:sequence>
				<!-- Liste des responsables -->
				<xs:element ref="PERSONNES" />
				<!-- Liste des élèves -->
				<xs:element ref="ELEVES" />
			</xs:sequence>
		</xs:complexType>

		<!-- DEFINITION DES CLES -->
		<!-- Le champ ID_PRV_PER du responsable doit être unique -->
		<xs:key name="respKey">
			<xs:selector xpath="PERSONNES/PERSONNE" />
			<xs:field xpath="ID_PRV_PER" />
		</xs:key>
		<!-- Le champ ID_PRV_ELE de l'élève doit être unique -->
		<xs:unique name="eleveKey">
			<xs:selector xpath="ELEVES/ELEVE" />
			<xs:field xpath="ID_PRV_ELE" />
		</xs:unique>
		<!-- Le champ ID_NATIONAL de l'élève doit être unique -->
		<xs:unique name="eleveIdNatKey">
			<xs:selector xpath="ELEVES/ELEVE" />
			<xs:field xpath="ID_NATIONAL" />
		</xs:unique>
		<!-- Le champ INE_BEA de l'élève doit être unique -->
		<xs:unique name="eleveIneBeaKey">
			<xs:selector xpath="ELEVES/ELEVE" />
			<xs:field xpath="INE_BEA" />
		</xs:unique>
		<!-- Le champ INE_RNIE de l'élève doit être unique -->
		<xs:unique name="eleveIneRnieKey">
			<xs:selector xpath="ELEVES/ELEVE" />
			<xs:field xpath="INE_RNIE" />
		</xs:unique>
		<!-- FIN DE DEFINITION DES CLES -->
	</xs:element>


	<!-- Contenu du bloc PERSONNES: liste tous les responsables (legal, en charge 
		et contact) de l'établissement -->
	<!-- Il faut au moins un responsable, car un élève sans responsable legal 
		n'est pas importé -->
	<xs:element name="PERSONNES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PERSONNE" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- Contenu du bloc PERSONNE: informations sur un responsable en particulier -->
	<xs:element name="PERSONNE">
		<xs:annotation>
			<xs:documentation>Description d'un responsable</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<!-- Numéro interne du logiciel privé sur 5 chiffres -->
				<xs:element name="ID_PRV_PER" type="entier5" />
				<xs:element name="CODE_CIVILITE" type="code1" />
				<xs:element name="NOM_DE_FAMILLE" type="nom_prenom" />
				<xs:element name="NOM_USAGE" minOccurs="0" maxOccurs="1"
					type="nom_prenom" />
				<xs:element name="PRENOM" type="nom_prenom" />
				<xs:element ref="ADRESSE" minOccurs="0" />
				<xs:element name="COMMUNICATION_ADRESSE" type="xs:boolean"
					minOccurs="0" />
				<xs:element name="CODE_PROFESSION" type="code2" />
				<xs:element name="TEL_PERSONNEL" type="telephone"
					minOccurs="0" />
				<xs:element name="TEL_PROFESSIONNEL" type="telephone"
					minOccurs="0" />
				<xs:element name="TEL_PORTABLE" type="telephone"
					minOccurs="0" />
				<xs:element name="ACCEPTE_SMS" minOccurs="0" maxOccurs="1"
					type="xs:boolean" />
				<xs:element name="EMAIL" minOccurs="0" maxOccurs="1"
					type="email" />
				<xs:element name="ENFANT_A_CHARGE" type="xs:unsignedByte"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- Contenu du bloc ELEVES: liste des ELEVE à importer -->
	<xs:element name="ELEVES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ELEVE" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Contenu du bloc ELEVE: informations sur un eleve en particulier -->
	<xs:element name="ELEVE">
		<xs:annotation>
			<xs:documentation>Description d'un élève</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:group ref="ELEVE_SORTANT" />
				<xs:group ref="ELEVE_NON_SORTANT" />
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<!-- DEFINITIONS DES GROUPES Ils sont utilisés pour regrouper des informations -->
	<!-- le groupe sortant, implique que l'on ait une date et un motif de sortie, 
		il y a plus de données facultatives que pour le groupe des non sortant -->
	<xs:group name="ELEVE_SORTANT">
		<xs:sequence>
			<xs:element name="CODE_MOTIF_SORTIE" type="code2" />
			<xs:element name="DATE_SORTIE" type="xs:date" />
			<xs:element name="ID_PRV_ELE" type="entier5" />
			<xs:element name="ID_NATIONAL" minOccurs="0" maxOccurs="1"
				type="id_national" />
			<xs:element name="INE_BEA" minOccurs="0" maxOccurs="1"
				type="id_national" />
			<xs:element name="INE_RNIE" minOccurs="0" maxOccurs="1"
				type="id_national" />
			<xs:element name="NOM_DE_FAMILLE" type="nom_prenom" />
			<xs:element name="NOM_USAGE" minOccurs="0" maxOccurs="1"
				type="nom_prenom" />
			<xs:element name="PRENOM" type="nom_prenom" />
			<xs:element name="PRENOM2" minOccurs="0" maxOccurs="1"
				type="nom_prenom" />
			<xs:element name="PRENOM3" minOccurs="0" maxOccurs="1"
				type="nom_prenom" />
			<xs:element name="CODE_PAYS_NAT" minOccurs="0" maxOccurs="1"
				type="code3" />
			<xs:element name="DATE_NAISS" type="xs:date" />
			<xs:element name="CODE_SEXE" minOccurs="0" maxOccurs="1"
				type="code1" />
			<xs:element name="CODE_PAYS" type="code3" />
			<!-- Soit on a les information pour la france: le code commune Soit on 
				a les information pour une ville étrangère (VILLE_NAISS) -->
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element name="CODE_COMMUNE_INSEE_NAISS" type="code_cp_commune" />
				<xs:element name="VILLE_NAISS" type="ville" />
			</xs:choice>
			<xs:element name="DATE_ENTREE" minOccurs="0" maxOccurs="1"
				type="xs:date" />
			<xs:element ref="ADRESSE" minOccurs="0" maxOccurs="1" />
			<xs:element name="TEL_PERSONNEL" minOccurs="0" maxOccurs="1"
				type="telephone" />
			<xs:element name="TEL_PROFESSIONNEL" minOccurs="0"
				maxOccurs="1" type="telephone" />
			<xs:element name="TEL_PORTABLE" minOccurs="0" maxOccurs="1"
				type="telephone" />
			<xs:element name="ACCEPTE_SMS" minOccurs="0" maxOccurs="1"
				type="xs:boolean" />
			<xs:element name="EMAIL" minOccurs="0" maxOccurs="1" type="email" />
			<xs:element name="ADHESION_TRANSPORT" type="xs:boolean" />
			<xs:element name="CODE_REGIME" type="code2" />
			<xs:element name="DOUBLEMENT" type="xs:boolean" />
			<xs:element ref="BOURSES" minOccurs="0" maxOccurs="1" />
			<xs:element ref="RESPONSABLES_ELEVE" minOccurs="0"
				maxOccurs="1" />
			<!-- Information sur la scolarité active -->
			<xs:element name="SCOLARITE_ACTIVE" type="SCOLARITE_ACTIVE"
				minOccurs="0" maxOccurs="1" />
			<xs:element ref="ETABLISSEMENT_AN_DERNIER" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
	</xs:group>

	<xs:group name="ELEVE_NON_SORTANT">
		<xs:sequence>
			<xs:element name="ID_PRV_ELE" type="entier5" />
			<xs:element name="ID_NATIONAL" minOccurs="0" maxOccurs="1"
				type="id_national" />
			<xs:element name="INE_BEA" minOccurs="0" maxOccurs="1"
				type="id_national" />
			<xs:element name="INE_RNIE" minOccurs="0" maxOccurs="1"
				type="id_national" />
			<xs:element name="NOM_DE_FAMILLE" type="nom_prenom" />
			<xs:element name="NOM_USAGE" minOccurs="0" maxOccurs="1"
				type="nom_prenom" />
			<xs:element name="PRENOM" type="nom_prenom" />
			<xs:element name="PRENOM2" minOccurs="0" maxOccurs="1"
				type="nom_prenom" />
			<xs:element name="PRENOM3" minOccurs="0" maxOccurs="1"
				type="nom_prenom" />
			<xs:element name="CODE_PAYS_NAT" type="code3" />
			<xs:element name="DATE_NAISS" type="xs:date" />
			<xs:element name="CODE_SEXE" type="code1" />
			<xs:element name="CODE_PAYS" type="code3" />
			<!-- Soit on a les information pour la france: le code commune Soit on 
				a les information pour une ville étrangère (VILLE_NAISS) -->
			<xs:choice>
				<xs:element name="CODE_COMMUNE_INSEE_NAISS" type="code_cp_commune" />
				<xs:element name="VILLE_NAISS" type="ville" />
			</xs:choice>
			<xs:element name="DATE_ENTREE" minOccurs="0" maxOccurs="1"
				type="xs:date" />
			<xs:element ref="ADRESSE" minOccurs="0" maxOccurs="1" />
			<xs:element name="TEL_PERSONNEL" minOccurs="0" maxOccurs="1"
				type="telephone" />
			<xs:element name="TEL_PROFESSIONNEL" minOccurs="0"
				maxOccurs="1" type="telephone" />
			<xs:element name="TEL_PORTABLE" minOccurs="0" maxOccurs="1"
				type="telephone" />
			<xs:element name="ACCEPTE_SMS" minOccurs="0" maxOccurs="1"
				type="xs:boolean" />
			<xs:element name="EMAIL" minOccurs="0" maxOccurs="1" type="email" />
			<xs:element name="ADHESION_TRANSPORT" type="xs:boolean" />

			<xs:element name="CODE_REGIME" type="code2" />
			<xs:element name="DOUBLEMENT" type="xs:boolean" />
			<xs:element ref="BOURSES" minOccurs="0" maxOccurs="1" />
			<xs:element ref="RESPONSABLES_ELEVE" />
			<!-- Information sur la scolarité active -->
			<xs:element name="SCOLARITE_ACTIVE" type="SCOLARITE_ACTIVE" />
			<xs:element ref="ETABLISSEMENT_AN_DERNIER" />
		</xs:sequence>
	</xs:group>

	<!-- Information sur les options de la scolarité active -->
	<xs:element name="OPTIONS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OPTION" minOccurs="0" maxOccurs="12" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OPTION">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CODE_MATIERE" type="code6" />
				<xs:element name="CODE_MODALITE_ELECT" type="code1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!-- Listes des BOURSE que possède un ELEVE Il faut au minimum une bourse 
		dans le bloc BOURSES, si l'élève n'a pas de BOURSE le bloc BOURSES ne doit 
		pas apparaitre -->
	<xs:element name="BOURSES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BOURSE" minOccurs="1" maxOccurs="2" />
			</xs:sequence>
		</xs:complexType>

		<!-- une bourse n'apparait qu'une fois par élève -->
		<xs:unique name="UniqueBourse">
			<xs:selector xpath="BOURSE" />
			<xs:field xpath="CODE_BOURSE" />
		</xs:unique>
	</xs:element>
	<!-- Information sur la bourse de l'élève -->
	<xs:element name="BOURSE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CODE_BOURSE" type="code1" />
				<xs:element name="NB_PART" type="entier2" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>



	<!-- Liste les responsable de l'élève -->
	<xs:element name="RESPONSABLES_ELEVE">
		<xs:complexType>
			<xs:sequence>
				<!-- l'élève a forcément un responsable legal, et peut avoir un deuxieme -->
				<xs:element name="LEGAL" type="LEGAL" minOccurs="1"
					maxOccurs="2" />
				<xs:element name="PERSONNE_EN_CHARGE" type="PERSONNE_EN_CHARGE"
					minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="CONTACT" type="CONTACT" minOccurs="0"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Informtation sur un lien particulier de PERSONNE/ELEVE -->
	<xs:complexType name="LEGAL">
		<xs:sequence>
			<!-- Clé utilisé pour identifier le responsable -->
			<xs:element name="ID_PRV_PER" type="entier5" />
			<xs:element name="CODE_PARENTE" type="code2" />
			<xs:element name="PAIE_FRAIS_SCOLAIRES" minOccurs="0" type="xs:boolean" />
			<xs:element name="HEBERGE_ELEVE" type="xs:boolean" />
			<xs:element name="PERCOIT_LES_AIDES" minOccurs="0"
				type="xs:boolean" />
			<xs:element name="A_CONTACTER_EN_PRIORITE" minOccurs="0"
				type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PERSONNE_EN_CHARGE">
		<xs:sequence>
			<!-- Clé utilisé pour identifier le responsable -->
			<xs:element name="ID_PRV_PER" type="entier5" />
			<xs:element name="CODE_PARENTE" type="code2" />
			<xs:element name="PAIE_FRAIS_SCOLAIRES" minOccurs="0" type="xs:boolean" />
			<xs:element name="HEBERGE_ELEVE" type="xs:boolean" />
			<xs:element name="A_CONTACTER_EN_PRIORITE" minOccurs="0"
                type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CONTACT">
		<xs:sequence>
			<!-- Clé utilisé pour identifier le responsable -->
			<xs:element name="ID_PRV_PER" type="entier5" />
			<xs:element name="CODE_PARENTE" type="code2" />
		</xs:sequence>
	</xs:complexType>



	<!-- Bloc d'adresse -->
	<xs:element name="ADRESSE">
		<xs:complexType>
			<xs:sequence>
				<!-- positionnement des minOccurs à 0 à cause de obl si legal 1, à revoir -->
				<xs:element name="LIGNE1_ADRESSE" type="ligneAdresse"
					minOccurs="0" />
				<xs:element name="LIGNE2_ADRESSE" type="ligneAdresse"
					minOccurs="0" />
				<xs:element name="LIGNE3_ADRESSE" type="ligneAdresse"
					minOccurs="0" />
				<xs:element name="LIGNE4_ADRESSE" type="ligneAdresse"
					minOccurs="0" />
				<!-- pour ce qui suit voir ce qu'a fait richard -->
				<xs:choice>
					<xs:sequence>
						<xs:element name="CODE_POSTAL" type="code_cp_commune" />
						<xs:element name="LL_POSTAL" type="ville" />
					</xs:sequence>
					<xs:element name="COMMUNE_ETRANGERE" type="ville" />
				</xs:choice>
				<xs:element name="CODE_PAYS" type="code3" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!-- Information sur la scolarité an dernier (N-1) -->
	<xs:element name="ETABLISSEMENT_AN_DERNIER">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="CODE_RNE" type="rne" />
					<xs:element name="CODE_DEPARTEMENT" type="code3" />
				</xs:choice>
				<xs:element name="CODE_PROVENANCE" type="code1" />
				<!-- MEF de la scolarité an dernier, ou MEF de rattachement -->
				<xs:element name="CODE_MEF" minOccurs="0" type="mef" />
				<!-- type du MEF de la scolarité an dernier -->
				<xs:element name="TYPE_MEF" minOccurs="0" type="code1" />
				<xs:element name="CODE_DIVISION" minOccurs="0" type="code8" />
				<xs:element name="CODE_STATUT" minOccurs="0" type="code2" />
				<xs:element name="DATE_DEB_SCO" type="xs:date" minOccurs="0" />
				<xs:element name="DATE_FIN_SCO" type="xs:date" minOccurs="0" />
				<xs:element name="OPTIONS_AN_DERNIER">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CODE_MATIERE" minOccurs="0"
								maxOccurs="12" type="code5" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!-- DEFINITION DES TYPE -->
	<!-- type représentant une ligne scolarité active -->
	<xs:complexType name="SCOLARITE_ACTIVE">
		<xs:sequence>
			<xs:element name="CODE_MEF" type="mef" />
			<xs:element name="CODE_DIVISION" type="code8" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="CODE_STATUT" type="code2" />
			<xs:element name="DATE_DEB_SCO" type="xs:date" />
			<xs:element name="DATE_FIN_SCO" type="xs:date" minOccurs="0" />
			<xs:element name="ARRET_FORMATION" type="xs:boolean"
				minOccurs="0" />
			<xs:element ref="OPTIONS" />
		</xs:sequence>
	</xs:complexType>
	<!-- type représentant une ligne d'adresse -->
	<xs:simpleType name="code1">
		<xs:restriction base="xs:string">
			<xs:length value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code2">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="2" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code3">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="3" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code5">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="5" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code6">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="6" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code8">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code10">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="nom_prenom">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="100" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="id_national">
		<xs:restriction base="xs:string">
			<xs:pattern value="\w{11}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="code_cp_commune">
		<xs:restriction base="xs:string">
			<xs:length value="5" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ville">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="32" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="mef">
		<xs:restriction base="xs:string">
			<xs:length value="11" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Format pour la saisie des code_rne -->
	<xs:simpleType name="rne">
		<xs:restriction base="xs:string">
			<xs:pattern value="\w{8}" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Fommat pour la saisie d'année sur 4 chiffres -->
	<xs:simpleType name="annee">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4}" />
		</xs:restriction>
	</xs:simpleType>

	<!-- format utilisé pour les date en version fracaise -->
	<xs:simpleType name="dateFr">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{2}/\d{2}/\d{4}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="entier2">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="99" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Format pour les entier à 5 chiffre, num_envoi, ID_PRV_ELE, ID_PRV_PER... -->
	<xs:simpleType name="entier5">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="99999" />
		</xs:restriction>
	</xs:simpleType>

	<!-- type représentant une ligne d'adresse -->
	<xs:simpleType name="ligneAdresse">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="38" />
		</xs:restriction>
	</xs:simpleType>

	<!-- type pour les numéro de télépohone -->
	<xs:simpleType name="telephone">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<!-- type pour les adresses mail -->
	<xs:simpleType name="email">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="254" />
		</xs:restriction>
	</xs:simpleType>
	<!-- FIN DEFINITIONS TYPES -->


	<xs:attribute name="VERSION">
		<xs:annotation>
			<xs:documentation>Version du schéma</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:token">
				<xs:maxLength value="10" />
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
</xs:schema>